<h3 class="box-title">{{configuration.name || 'No name'}}
    <small>{{configuration.date | date}}</small>
</h3>

<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>Resource</th>
            <th>Team</th>
            <th>Min. Bet</th>
            <th>Unit</th>
            <th>Start Betting</th>
            <th>Stop Betting</th>
            <th>Result</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{configuration.resourceName}}</td>
            <td>{{configuration.fields.team}}</td>
            <td>{{configuration.fields.minBet}} €</td>
            <td>{{configuration.fields.unit}} €</td>
            <td>{{configuration.fields.startBet}} times</td>
            <td>{{configuration.fields.stopBet}} times</td>
            <td>{{configuration.fields.result | translate}}</td>
            <td>
                <button type="button" class="btn"
                        [ngClass]="{'btn-success': configuration.status === 'simulated', 'btn-warning': configuration.status === 'not-simulated'}"
                        disabled>{{configuration.status | translate}}
                </button>
            </td>
            <td>
                <button *ngIf="configuration.status === 'not-simulated'" type="button" class="btn btn-success"
                        (click)="simulate()" [disabled]="loading">
                    <i *ngIf="loading" class="fa fa-spinner fa-spin m-r-10"></i>
                    <i *ngIf="!loading" class="fa fa-magic m-r-10"></i>
                    Simulate
                </button>
                <button type="button" class="btn btn-danger m-l-10" (click)="remove()" [disabled]="loading">
                    <i class="fa fa-trash m-r-10"></i>
                    Remove
                </button>
                <a *ngIf="configuration.status === 'simulated'" class="btn btn-primary"
                   [routerLink]="['/strategies/martingale', configuration['_id']]">Result Details</a>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="col-xs-12">
        <app-barchart *ngIf="chartData" [data]="chartData" [configurationId]="configuration['_id']"></app-barchart>
    </div>
</div>