.white-box .box-title {
    font-size: 26px;
    margin-bottom: 20px;
}

.white-box .data-text {
    display: block;
    color: #313131;
}

.white-box:hover{
    -webkit-box-shadow: 2px 2px 25px -2px rgba(0,0,0,0.1);
    -moz-box-shadow: 2px 2px 25px -2px rgba(0,0,0,0.1);
    box-shadow: 2px 2px 25px -2px rgba(0,0,0,0.1);
}