<div class="grid grid-pad">
    <a *ngFor="let strategy of strategies" [routerLink]="['/strategies', strategy.name | lowercase]"
       class="col-xs-12 col-sm-6 col-md-3">
        <div class="module white-box">
            <h3 class="box-title">{{strategy.name}}</h3>
            <div *ngIf="strategy.metrics">
                <span class="data-text">{{strategy.metrics.stored}} Stored Configurations</span>
                <span class="data-text">{{strategy.metrics.simulated}} Simulated Configurations</span>
            </div>
        </div>
    </a>
</div>
