<div class="col-xs-12 col-sm-3 col-sm-offset-4">
    <form name="form" (ngSubmit)="f.form.valid && signup()" #f="ngForm" novalidate>
        <div class="form-group" [ngClass]="{'has-error': error && error.param == 'displayName'}">
            <label for="displayName">Name</label>
            <input id="displayName" name="displayName" class="form-control" placeHolder="Name" [(ngModel)]="model.displayName"
                   #displayName="ngModel" required/>
            <div *ngIf="f.submitted && !displayName.valid" class="help-block">Name is required</div>
        </div>
        <div class="form-group" [ngClass]="{'has-error': error && error.param == 'email'}">
            <label for="email">Email</label>
            <input id="email" name="email" class="form-control" placeHolder="Email" [(ngModel)]="model.email"
                   #email="ngModel" required/>
            <div *ngIf="f.submitted && !email.valid" class="help-block">Email is required</div>
        </div>
        <div class="form-group" [ngClass]="{'has-error': error && error.param == 'password'}">
            <label for="password">Password</label>
            <input id="password" name="password" type="password" class="form-control" [(ngModel)]="model.password"
                   #password="ngModel" required/>
            <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Sign up</button>
        </div>
        <div *ngIf="error && error.message" class="alert alert-danger">
            <strong>¡Error!</strong> {{error.message}}.
        </div>
        <div class="form-group">
            <p>Are you registered? <a routerLink="/signin">Sign in</a></p>
        </div>
    </form>
</div>
