<div class="col-xs-12 col-sm-3 col-sm-offset-4">
    <form name="form" (ngSubmit)="f.form.valid && signin()" #f="ngForm" novalidate>
        <div class="form-group">
            <label for="email">Email</label>
            <input id="email" name="email" class="form-control" placeHolder="Email" [(ngModel)]="model.email"
                   #email="ngModel" required/>
            <div *ngIf="f.submitted && !email.valid" class="help-block">Email is required</div>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input id="password" name="password" type="password" class="form-control" [(ngModel)]="model.password"
                   #password="ngModel" required/>
            <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Sign in</button>
        </div>
        <div *ngIf="error && error.message" class="alert alert-danger">
            <strong>¡Error!</strong> {{error.message}}.
        </div>
        <div class="form-group">
            <p>You have not registered yet? <a routerLink="/signup">Sign up</a></p>
        </div>
    </form>
</div>
