<h3 *ngIf="isDataAvailable">{{configuration.name}}</h3>
<div *ngIf="isDataAvailable" class="col-xs-12 white-box">
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Resource</th>
                <th>Team</th>
                <th>Min. Bet</th>
                <th>Unit</th>
                <th>Start Betting</th>
                <th>Stop Betting</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{configuration.resourceName}}</td>
                <td>{{configuration.fields.team}}</td>
                <td>{{configuration.fields.minBet}} €</td>
                <td>{{configuration.fields.unit}} €</td>
                <td>{{configuration.fields.startBet}} times</td>
                <td>{{configuration.fields.stopBet}} times</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Action</th>
                <th>Money Earned</th>
                <th>Money Lost</th>
                <th>Bet</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let log of logs" ngClass="{{log.action}}">
                <td>{{log.action | uppercase}}</td>
                <td>{{log.data.moneyEarned}} €</td>
                <td>{{log.data.moneyLost }} €</td>
                <td>{{log.data.bet || '-'}} <span *ngIf="log.data.bet">€</span></td>
                <td>{{log.description}}</td>
        </table>
    </div>
</div>