<div class="white-box" *ngIf="showNewResource">
    <form class="form">
        <div class="row">
            <div class="form-group col-xs-12 col-sm-6 col-md-3">
                <label for="name">Resource Name</label>
                <input id="name" name="name" type="text" class="form-control" (keypress)="changeNameListener()"
                       [(ngModel)]="name" required>
            </div>
            <div *ngIf="showInputFile" class="form-group col-xs-12 col-sm-6 col-md-3">
                <label for="resource">Select file:</label>
                <input id="resource" name="resource" type="file" class="form-control"
                       (change)="changeResourceListener($event)" required>
            </div>
        </div>
    </form>
</div>