<div class="module white-box" ngClass="{{resource['UIClass']}}" [attr.data-resource-id]="resource['_id']">
    <h3 class="box-title">{{resource.name}}</h3>
    <span class="data-text">Stored Date: {{resource.date}}</span>
    <span class="data-text">Rows: {{resource.count}}</span>
</div>