<div class="text-right m-b-20">
    <button class="btn btn-primary" (click)="newResource()">New Resource</button>
</div>
<div class="grid grid-pad">
    <div class="col-xs-12">
        <app-resources-new [showNewResource]="showNewResource"
                           [resources]="resources"></app-resources-new>
    </div>
    <div *ngFor="let resource of resources" class="col-xs-12 col-sm-6 col-md-3">
        <app-resources-item [resource]="resource"></app-resources-item>
    </div>
</div>