<li style="padding: 70px 0 0;">
    <a routerLink="/dashboard" routerLinkActive="active">
        <i class="fa fa-dashboard fa-fw" aria-hidden="true"></i>Dashboard
    </a>
</li>
<li>
    <a routerLink="/resources" routerLinkActive="active">
        <i class="fa fa-database fa-fw" aria-hidden="true"></i>Resources
    </a>
</li>
<li>
    <a routerLink="/strategies" routerLinkActive="active">
        <i class="fa fa-magic fa-fw" aria-hidden="true"></i>Strategies
    </a>
</li>
<li>
    <a routerLink="/documentation" routerLinkActive="active">
        <i class="fa fa-file fa-fw" aria-hidden="true"></i>Documentation
    </a>
</li>