<div class="text-right m-b-20">
    <button class="btn btn-primary" (click)="newConfiguration()">New Configuration</button>
</div>
<div *ngIf="this.showNewConfiguration" class="white-box">
    <form name="form" (ngSubmit)="f.form.valid && saveConfiguration()" #f="ngForm" novalidate>
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input id="name" type="text" name="name" class="form-control" [(ngModel)]="model.name"
                           #name="ngModel"
                           required/>
                    <div *ngIf="f.submitted && !name.valid" class="help-block">Name is required</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-2">
                <div class="form-group">
                    <label for="team">Resource</label>
                    <select id="resource" name="resource" class="form-control" [(ngModel)]="model.resource"
                            #resource="ngModel"
                            required>
                        <option *ngFor="let resource of resources" [ngValue]="resource._id">{{resource.name}}</option>
                    </select>
                    <div *ngIf="f.submitted && !name.valid" class="help-block">Resource is required</div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-2">
                <div class="form-group">
                    <label for="team">Team</label>
                    <select id="team" name="team" class="form-control" [(ngModel)]="model.team" #team="ngModel"
                            required>
                        <option *ngFor="let team of teams" [ngValue]="team">{{team}}</option>
                    </select>
                    <div *ngIf="f.submitted && !name.valid" class="help-block">Team is required</div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-2">
                <div class="form-group">
                    <label for="team">Result</label>
                    <select id="result" name="result" class="form-control" [(ngModel)]="model.result" #result="ngModel"
                            required>
                        <option value="W">{{"W" | translate}}</option>
                        <option value="D">{{"D" | translate}}</option>
                        <option value="L">{{"L" | translate}}</option>
                    </select>
                    <div *ngIf="f.submitted && !name.valid" class="help-block">Result is required</div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-6">
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-3">
                        <div class="form-group">
                            <label for="unit">Unit</label>
                            <input id="unit" type="text" name="unit" class="form-control" [(ngModel)]="model.unit"
                                   #unit="ngModel" required>
                            <div *ngIf="f.submitted && !name.valid" class="help-block">Unit is required</div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-3">
                        <div class="form-group">
                            <label for="minBet">Min. Bet</label>
                            <input id="minBet" type="text" name="minBet" class="form-control" [(ngModel)]="model.minBet"
                                   #minBet="ngModel"
                                   required>
                            <div *ngIf="f.submitted && !name.valid" class="help-block">Min. Bet is required</div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-3">
                        <div class="form-group">
                            <label for="startBet">Start Betting</label>
                            <input id="startBet" type="text" name="startBet" class="form-control"
                                   [(ngModel)]="model.startBet"
                                   #startBet="ngModel"
                                   required>
                            <div *ngIf="f.submitted && !name.valid" class="help-block">Start Betting is required</div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-3">
                        <div class="form-group">
                            <label for="stopBet">Stop Betting</label>
                            <input id="stopBet" type="text" name="stopBet" class="form-control"
                                   [(ngModel)]="model.stopBet"
                                   #stopBet="ngModel"
                                   required>
                            <div *ngIf="f.submitted && !name.valid" class="help-block">Stop Betting is required</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 text-center">
                <button type="button" class="btn btn-danger" (click)="cancel()"><i
                        class="fa fa-save m-r-10"></i>Cancel
                </button>
                <button type="submit" class="btn btn-primary" [disabled]="loading">
                    <i *ngIf="!loading" class="fa fa-save m-r-10"></i>
                    <i *ngIf="loading" class="fa fa-spinner fa-spin m-r-10"></i>Save
                </button>
            </div>
        </div>
    </form>
</div>
<!-- TODO FOR CONFIGURATIONS -->
<div *ngFor="let configuration of configurations" class="white-box">
    <app-martingale-item [configuration]="configuration"
                         (configurationDeleted)="onConfigurationDeleted(configuration)"></app-martingale-item>
</div>