<!-- ============================================================== -->
<!-- Topbar header - style you can find in pages.scss -->
<!-- ============================================================== -->
<nav *ngIf="showNav" class="navbar navbar-default navbar-static-top m-b-0">
    <div class="navbar-header">
        <div class="top-left-part">
            <!-- Logo -->
            <a class="logo" routerLink="/">
                <b><img src="assets/images/logo.png" width="210" alt="home" class="light-logo"/></b>
            </a>
        </div>
        <!-- /Logo -->
        <ul *ngIf="showNav" class="nav navbar-top-links navbar-right pull-right">
            <li>
                <a class="profile-pic">
                    <img src="assets/plugins/images/users/varun.jpg" alt="user-img" width="36" class="img-circle">
                    <b class="hidden-xs">{{ userName }}</b>
                </a>
            </li>
            <li>
                <a routerLink="/signin">Logout</a>
            </li>
        </ul>
    </div>
    <!-- /.navbar-header -->
    <!-- /.navbar-top-links -->
    <!-- /.navbar-static-side -->
</nav>
<!-- End Top Navigation -->
<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<div *ngIf="showNav" class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav slimscrollsidebar">
        <div class="sidebar-head">
            <h3>
                <span class="fa-fw open-close"><i class="ti-close ti-menu"></i></span>
                <span class="hide-menu">Navigation</span>
            </h3>
        </div>
        <bmt-nav class="nav" id="side-menu"></bmt-nav>
    </div>

</div>
<!-- ============================================================== -->
<!-- End Left Sidebar -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Page Content -->
<!-- ============================================================== -->
<div id="page-wrapper" [ngClass]="{'no-nav-wrapper': !showNav}">
    <div class="container-fluid">
        <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">{{currentTitle}}</h4>
            </div>
            <div *ngIf="showNav" class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                <a routerLink="/documentation" class="btn btn-danger pull-right m-l-20 hidden-xs hidden-sm">Documentation</a>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <router-outlet></router-outlet>
    </div>
    <!-- /.container-fluid -->
    <footer class="footer text-center" [ngClass]="{'no-nav-wrapper': !showNav}"> 2017 &copy; BetMasterTools</footer>
</div>
<!-- ============================================================== -->
<!-- End Page Content -->
<!-- ============================================================== -->