.d3-chart {
    padding-top: 30px;
    text-align: right;
    border-top: 1px dashed #e4e7ea;
}

.bar {
    position: relative;
    min-height: 42px;
    box-sizing: border-box;
    border-bottom: 1px solid #ffffff;
}

.bar--positive {
    background-color: limegreen;
}

.bar--negative {
    background-color: red;
}

.bar .label {
    position: absolute;
    font: 12px Rubik, sans-serif;
    color: #666666;
    text-align: left;
}

.bar--positive .label {
    text-align: left;
}

.bar--negative .label {
    text-align: right;
    left: -100px;
    right: auto;
    width: 100px;
}

.bar .label .value {
    font-size: 18px;
}