<div class="col-xs-12 col-sm-6 col-md-4">
    <div class="white-box analytics-info" [ngClass]="{'loading': loading}">
        <h3 class="box-title">{{name}}</h3>
        <ul class="list-inline two-part">
            <li>
                <i class="{{classes}}"></i>
            </li>
            <li class="text-right">
                <i class="ti-arrow-up text-success"></i>
                <span class="counter text-success">{{currentCounter}}</span>
            </li>
        </ul>
    </div>
</div>