<div class="grid grid-pad">
    <div class="row">
        <app-dashboard-counter *ngIf="metrics.resources" [counter]="metrics.resources" [name]="'resources'"
                               [classes]="'fa fa-database'"></app-dashboard-counter>
        <app-dashboard-counter *ngIf="metrics.logs" [counter]="metrics.logs" [name]="'logs'"
                               [classes]="'fa fa-table'"></app-dashboard-counter>
        <app-dashboard-counter *ngIf="metrics.strategies" [counter]="metrics.strategies" [name]="'strategies'"
                               [classes]="'fa fa-magic'"></app-dashboard-counter>
        <app-dashboard-counter *ngIf="metrics.configurations" [counter]="metrics.configurations"
                               [name]="'configurations'" [classes]="'fa fa-cogs'"></app-dashboard-counter>
        <app-dashboard-counter *ngIf="metrics.results" [counter]="metrics.results" [name]="'results'"
                               [classes]="'fa fa-bar-chart-o'"></app-dashboard-counter>
    </div>
</div>
